@model WebHelpers.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Estudiante</h2>
@using (Html.BeginForm("Edit", "Student"))
{
    <table>
        <tbody>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Id)</td>
                <td>@Html.TextBoxFor(m => m.Id, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Nombre)</td>
                <td>@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Edad)</td>
                <td>@Html.TextBoxFor(m => m.Edad, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Curso.Id)</td>
                <td>
                    @Html.DropDownListFor(m => m.CurseId, new SelectList(Model.Curso.Nombre, "Id", "Nombre"))
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Guardar" />
}


