@model List<WebHelpers.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h1>Estudiantes</h1>
<table>
    <thead>
        <tr>
            <th width="90px">Matricula</th>
            <th width="90px">Nombre</th>
            <th width="90px">Edad</th>
            <th width="90px">Curso</th>
            <th width="90px">@Html.ActionLink("Crear", "Create")</th>
            <th width="90px">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Nombre</td>
                <td>@student.Edad</td>
                <td>@student.Curso.Nombre</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { matricula = student.Id })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { matricula = student.Id})
                </td>
            </tr>
        }
    </tbody>
</table>