@model List<EjercicioWebCandidatos.Models.Candidatos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidatos</h1>
<table>
    <thead>
        <tr>
            <th width="90px">Id</th>
            <th width="90px">Nombre</th>
            <th width="90px">Edad</th>
            <th width="90px">Género</th>
            <th width="90px">Partido</th>
            <th width="90px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var candidato in Model)
        {
            <tr>
                <td>@candidato.Id</td>
                <td>@candidato.Nombre</td>
                <td>@candidato.Edad</td>
                <td>@candidato.Genero</td>
                <td>@candidato.Partido</td>
                <td><a href="~/Candidatos/Propuesta?Id=@candidato.Id">Ver Propuesta</a></td>
            </tr>
        }
    </tbody>
</table>

